<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeavyWater Text Classification Model</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <div id="container">
    <h1>Please input document text to classify:</h1>
    <form action="/" method="get">
      <textarea rows=10 name="words" placeholder="Enter document data" required autofocus></textarea>
      <br>
      <input type=submit value=Classify>
    </form>
  {% if result %}
  <div id="result">
    <p>{{ result }}</p>
    <p><a href="/"><< Go back</a></p>
  </div>
  {% endif %}
  </div>
</body>
</html>
